.choose-hotel{
	.text-wrap{
		text-align: center;
	}
	.heading-wrap{
		margin-bottom: 2rem;
	}
}
.hotel-wrap{
	.hold{
		position: relative;
		.photo{
			Overflow:hidden;
			img{
				// @include Transition2;
				width: 100%;
				max-height: calc(40rem);
				min-height: calc(40rem);
				object-fit: cover;
			}
		}
		&:hover{
			img{
				// @include ScaleTransform(1.1);
			}
		}
	}
	.title-wrap{
		position:absolute;
		top: 0;
		width: 100%;
		height: 100%;
		
		.box{
			display: table;
			height: 100%;
			padding: 2rem;
			text-align: center;
			width: 100%;
		}
		.holder{
			background: rgba(255, 255, 255, 0.4);
			border: 1px solid #fff;
			// color: $primaryAnchorColor;
			display: table-cell;
			vertical-align: middle;
		}
		h3{
			margin: 0;
			a{
				// background: $primaryAnchorColor;
				// color: $white;
				padding: 0 2rem;
			}
		}
	}
}
// hotel details
.hotel-details{
	.hotel-slider{
		position:relative;
		.photo{
			img{
				width: 100%;
				max-height: calc(40rem);
				min-height: calc(40rem);
				object-fit: cover;
			}
		}
	}
	.owl-carousel .owl-item{
		padding:0;
	}
	.owl-controls{
		.owl-prev,
		.owl-next{
			background: $primary-color;
			color: #fff;
			padding: 1rem;
			position:absolute;
			top: 42%;
		}
		.owl-prev{
			left: 1.5rem;
		}
		.owl-next{
			right: 1.5rem;
		}
	}

}
.hotel-description{
	margin: 3rem 0;
	h3{
		margin:1rem 0;
	}
	.title{
		h2{
			color: $primary-color;
			margin-bottom: 1rem;
		}
	}
	
	ul{
		-webkit-columns: 2;
		-moz-columns: 2;
		-ms-columns: 2;
		-o-columns: 2;
		columns: 2;
		li{
			display: inline-block;
			vertical-align:top;
			width: 100%;
			margin: 0 0 1rem;
			span{
				padding: 1rem;
				display:block;
				border: 1px solid #ccc;
				background: #f9f9f9;
			}
			strong{
				margin: 0 2rem 0 0;
				// color: $primaryAnchorColor;
			}
			/* .fa{
				color: $primaryAnchorColor;
				} */
			}
		}
	}
	.book-form-holder{
		background:rgba(0, 0, 0, 0.8);
		color: #fff;
		padding: 2rem;
		margin-top:4rem;
		margin-bottom:3rem;
		.heading{
			h2{
				// background: lighten($primaryAnchorColor, 5%);
				line-height: 2;
				margin-bottom: 1.5rem;
			}
		}
		.btn-wrap{
			text-align: right;
			margin-right: 1.5rem;
		}
		h4{
			margin-bottom: 1rem;
		}
	}