.header{
  position:relative;
  z-index: 10;
  .navbar-default{
    background-color:rgba(255, 255, 255, 0.62);
    border:0;
    border-radius:0;
    margin:0;
    position:fixed;
    width: 100%;
    box-shadow: 0px 0px 10px #888888;
  }
  .logo-wrap{
    float: left;
    width: 20%;
    h1{
      a{
        font-size:4rem;
        color:$primary-color;
      }
    }
  }
  .navbar-brand {
    padding:5px 15px;
    > img{
      background-color: $primary-background;
      padding: 0 1rem;
      // margin-top: -1rem;
      height: 60px;
    }
  }
  .main-nav{
    ul{
      // margin-top: 1rem;
    }
  }
  .navbar-default .navbar-nav > .active > a, {
    background-color: transparent;
    color: $primary-color;
    text-transform: uppercase;
  }
  .navbar-default .navbar-nav > .active > a:focus, 
  .navbar-default .navbar-nav > .active > a:hover{
    background-color: transparent;
    color: $primary-color;
    text-transform: uppercase;
  }
  .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: $primary-color;
  }
  .dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: $primary-color;
  }
  .navbar-default .navbar-nav > li > a{
    color: #333;
    text-transform: uppercase;
    &:hover{
      color:$primary-color;
    }
  }
  .navbar-nav>li>a {
    line-height: 30px;
  }
  .info{
    background-color:#000;
    padding:0.5rem;
    color:#fff;
    span{
      margin-right:1rem;
      a{
        color:#fff;
      }
    }
  }
  .dropdown{
    a{
      i{
        color:$primary-color;
      }
      span{
        color:$primary-color;
      // background:$primary-color;
    }
  }
  .dropdown-menu{
    min-width:250px;
    padding:1rem 0;
  }
  .dropdown-menu>li>a {
    display: block;
    padding: 5px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
  }
  .cart{
    li{
      border-bottom:1px dotted #aaa;
      margin-bottom:5px;
      &:last-child{
        border-bottom:0px;
      }
      .cancel{
        i{
          position: absolute;
          right: 10px;
          // top:10px;
          color: #e22c33;
        }
      }
      .media{
        margin:0;
        .media-body{
          padding-right: 20px;
          p{
            margin:0;
            font-size:1.1rem;
          }
        }
      }
    }
    .btn-warning{
      float:right;
    }
  }
}

}
.shrink{
  .navbar-default{
   position:fixed;
 }
 .info{
  display:none;
}
.navbar-default{
  background-color:#fff;
  box-shadow: 0px 0px 10px #888888;
}
}
/* Search Style */ 
.search-icon{
  a{
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
}
#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);    
  opacity: 0;
  display: none;
}

#search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1); 
  opacity: 1;
  z-index: 106;
  display: block;
}

#search input[type="search"] {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -51px;
  width: 60%;
  margin-left: 20%;
  color: rgb(255, 255, 255);
  background: transparent;
  border-top: 1px solid rgba(255, 255, 255, .8);
  border-bottom: 2px solid rgba(255, 255, 255, .5);
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  font-size: 40px;
  font-family: Roboto;
  font-weight: 300;
  text-align: center;
  outline: none;
  padding: 10px;
}

#search .close {
  position: fixed;
  top: 15px;
  right: 15px;
  opacity: 1;
  font-size: 27px;
  color: #fff;
}

#search .close:hover{
  color: #FC2121;
  cursor: pointer;
}