.new-arrival{
	padding:5rem 0;
	.collection{
		.grid {
			position: relative;
			clear: both;
			list-style: none;
			text-align: center;
		}

		/* Common style */
		.grid figure {
			position: relative;
			float: left;
			overflow: hidden;
			min-width: 100%;
			max-width: 100%;
			max-height: 360px;
			width: 48%;
			height: auto;
			background: #3085a3;
			text-align: center;
			cursor: pointer;
		}

		.grid figure img {
			position: relative;
			display: block;
			min-height: 100%;
			max-width: 100%;
			opacity: 0.8;
		}

		.grid figure figcaption {
			padding: 2em;
			color: #fff;
			text-transform: uppercase;
			font-size: 1.25em;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
		}


		.grid figure figcaption::before,
		.grid figure figcaption::after {
			pointer-events: none;
		}

		.grid figure figcaption,
		.grid figure figcaption > a {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		/* Anchor will cover the whole item by default */
		/* For some effects it will show as a button */
		.grid figure figcaption > a {
			z-index: 1000;
			text-indent: 200%;
			white-space: nowrap;
			font-size: 0;
			opacity: 0;
		}

		.grid figure h2 {
			word-spacing: -0.15em;
			font-weight: 300;
		}

		.grid figure h2 span {
			font-weight: 800;
		}

		.grid figure h2,
		.grid figure p {
			margin: 0;
		}

		.grid figure p {
			letter-spacing: 1px;
			font-size: 68.5%;
		}

		/*-----------------*/
		/***** Winston *****/
		/*-----------------*/

		figure.effect-winston {
			background: #162633;
			text-align: left;
		}

		figure.effect-winston img {
			-webkit-transition: opacity 0.45s;
			transition: opacity 0.45s;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
		}

		figure.effect-winston figcaption::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: transparent linear-gradient(135deg, transparent 50%, rgba(235, 44, 51, 0.52) 48%);
			background-size: 100% 100%;
			content: '';
			-webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
			transition: opacity 0.45s, transform 0.45s;
			-webkit-transform: rotate3d(0,0,1,45deg);
			transform: rotate3d(0,0,1,45deg);
			-webkit-transform-origin: 0 100%;
			transform-origin: 0 100%;
		}

		figure.effect-winston h2 {
			-webkit-transition: -webkit-transform 0.35s;
			transition: transform 0.35s;
			-webkit-transform: translate3d(0,20px,0);
			transform: translate3d(0,20px,0);
		}

		figure.effect-winston p {
			position: absolute;
			right: 0;
			bottom: 0;
			padding: 0 1.5em 7% 0;
		}

		figure.effect-winston a {
			margin: 0 10px;
			color: #5d504f;
			font-size: 170%;
		}

		figure.effect-winston a:hover,
		figure.effect-winston a:focus {
			color: #cc6055;
		}

		figure.effect-winston p a i {
			opacity: 0;
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
			-webkit-transform: translate3d(0,50px,0);
			transform: translate3d(0,50px,0);
		}

		figure.effect-winston:hover img {
			opacity: 0.6;
		}

		figure.effect-winston:hover h2 {
			-webkit-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
		}

		figure.effect-winston:hover figcaption::before {
			opacity: 0.7;
			-webkit-transform: rotate3d(0,0,1,20deg);
			transform: rotate3d(0,0,1,20deg);
		}

		figure.effect-winston:hover p i {
			opacity: 1;
			-webkit-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
		}

		figure.effect-winston:hover p a:nth-child(3) i {
			-webkit-transition-delay: 0.05s;
			transition-delay: 0.05s;
		}

		figure.effect-winston:hover p a:nth-child(2) i {
			-webkit-transition-delay: 0.1s;
			transition-delay: 0.1s;
		}

		figure.effect-winston:hover p a:first-child i {
			-webkit-transition-delay: 0.15s;
			transition-delay: 0.15s;
		}

	}
}
figcaption{
	p{
		i{
			color:#fff;
		}
	}
}