body {
  min-width: 320px;
  font-family: "Lato", sans-serif;
  background-color: #fff; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  font-family: "Arima Madurai", cursive; }

a:hover {
  text-decoration: none; }

.padding-reset {
  padding: 0; }

.padding-right {
  padding-right: 0; }
  @media (max-width: 767px) {
    .padding-right {
      padding-right: 15px; } }

.container {
  width: 85vw; }

.header {
  position: relative;
  z-index: 10; }
  .header .navbar-default {
    background-color: rgba(255, 255, 255, 0.62);
    border: 0;
    border-radius: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    box-shadow: 0px 0px 10px #888888; }
  .header .logo-wrap {
    float: left;
    width: 20%; }
    @media (max-width: 420px) {
      .header .logo-wrap {
        width: 55%; } }
    .header .logo-wrap img {
      vertical-align: middle;
      display: inline-block; }
    .header .logo-wrap h1 a {
      font-size: 4rem;
      color: #399b1c; }
  .header .navbar-brand {
    padding: 5px 15px; }
    .header .navbar-brand > img {
      background-color: #d8d8d8;
      padding: 0 1rem;
      height: 60px; }
  .header .navbar-default .navbar-nav > .active > a {
    background-color: transparent;
    color: #399b1c;
    text-transform: uppercase; }
  .header .navbar-default .navbar-nav > .active > a:focus,
  .header .navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent;
    color: #399b1c;
    text-transform: uppercase; }
  .header .navbar-default .navbar-nav > .open > a, .header .navbar-default .navbar-nav > .open > a:focus, .header .navbar-default .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: #399b1c; }
  .header .dropdown-menu > li > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #399b1c; }
  .header .navbar-default .navbar-nav > li > a {
    color: #333;
    text-transform: uppercase; }
    .header .navbar-default .navbar-nav > li > a:hover {
      color: #399b1c; }
  .header .navbar-nav > li > a {
    line-height: 30px; }
  .header .info {
    background-color: #000;
    padding: 0.5rem;
    color: #fff; }
    .header .info span {
      margin-right: 1rem; }
      .header .info span a {
        color: #fff; }
  .header .dropdown a i {
    color: #399b1c; }
  .header .dropdown a span {
    color: #399b1c; }
  .header .dropdown .dropdown-menu {
    min-width: 250px;
    padding: 1rem 0; }
  .header .dropdown .dropdown-menu > li > a {
    display: block;
    padding: 5px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap; }
  .header .dropdown .cart li {
    border-bottom: 1px dotted #aaa;
    margin-bottom: 5px; }
    .header .dropdown .cart li:last-child {
      border-bottom: 0px; }
    .header .dropdown .cart li .cancel i {
      position: absolute;
      right: 10px;
      color: #e22c33; }
    .header .dropdown .cart li .media {
      margin: 0; }
      .header .dropdown .cart li .media .media-body {
        padding-right: 20px; }
        .header .dropdown .cart li .media .media-body p {
          margin: 0;
          font-size: 1.1rem; }
  .header .dropdown .cart .btn-warning {
    float: right; }

.shrink .navbar-default {
  position: fixed; }
.shrink .info {
  display: none; }
.shrink .navbar-default {
  background-color: #fff;
  box-shadow: 0px 0px 10px #888888; }

/* Search Style */
.search-icon a {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);
  opacity: 0;
  display: none; }

#search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
  z-index: 106;
  display: block; }

#search input[type="search"] {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -51px;
  width: 60%;
  margin-left: 20%;
  color: white;
  background: transparent;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  font-size: 40px;
  font-family: Roboto;
  font-weight: 300;
  text-align: center;
  outline: none;
  padding: 10px; }

#search .close {
  position: fixed;
  top: 15px;
  right: 15px;
  opacity: 1;
  font-size: 27px;
  color: #fff; }

#search .close:hover {
  color: #FC2121;
  cursor: pointer; }

.TopButton {
  background: #399b1c;
  border-radius: 100%;
  bottom: 1rem;
  -webkit-box-shadow: 0 0 5px 0 rgba(48, 114, 172, 0.3);
  -moz-box-shadow: 0 0 5px 0 rgba(48, 114, 172, 0.3);
  -ms-box-shadow: 0 0 5px 0 rgba(48, 114, 172, 0.3);
  -o-box-shadow: 0 0 5px 0 rgba(48, 114, 172, 0.3);
  box-shadow: 0 0 5px 0 rgba(48, 114, 172, 0.3);
  color: #fff;
  display: none;
  height: 45px;
  padding: 10px;
  position: fixed;
  right: 1rem;
  text-align: center;
  text-decoration: none;
  width: 45px;
  z-index: 999; }
  .TopButton:hover {
    color: #fff; }

.TopButton i {
  font-size: 3rem;
  line-height: 0.75;
  margin: 0; }

.banner-wrap {
  margin: -2rem 0 0;
  position: relative; }
  .banner-wrap .banner-overlay {
    background: rgba(0, 0, 0, 0.03);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1; }
  .banner-wrap .carousel img {
    width: 100%;
    max-height: calc(58rem);
    min-height: calc(58rem); }
  .banner-wrap .carousel-caption {
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    top: 40%; }
    .banner-wrap .carousel-caption .holder {
      width: 80%;
      margin: 0 auto; }
    .banner-wrap .carousel-caption .wrap {
      font-size: 2rem; }
      .banner-wrap .carousel-caption .wrap h2 {
        font-size: 8rem; }
      .banner-wrap .carousel-caption .wrap span {
        background: rgba(237, 67, 70, 0.8);
        padding: 0 1rem;
        -webkit-text-shadow: none;
        -moz-text-shadow: none;
        -ms-text-shadow: none;
        -o-text-shadow: none;
        text-shadow: none; }
  .banner-wrap .carousel-control.left,
  .banner-wrap .carousel-control.right {
    background-image: none; }
  .banner-wrap .carousel-indicators {
    bottom: 0; }
    .banner-wrap .carousel-indicators > li {
      background-color: #399b1c;
      border-color: #399b1c; }
    .banner-wrap .carousel-indicators > .active {
      background-color: #fff;
      border-color: #fff; }

.banner-wrap.inner {
  max-height: calc(30rem); }
  .banner-wrap.inner overflow:hidden
  .banner-overlay {
    background: rgba(0, 0, 0, 0.6); }
  .banner-wrap.inner .title-wrap {
    left: 45%;
    position: absolute;
    text-align: center;
    top: 60%;
    z-index: 1; }
    .banner-wrap.inner .title-wrap h2 {
      color: #fff;
      margin: 0; }
    .banner-wrap.inner .title-wrap .breadcrumb {
      background: transparent; }
      .banner-wrap.inner .title-wrap .breadcrumb a {
        color: #f5f5f5; }
      .banner-wrap.inner .title-wrap .breadcrumb > .active {
        color: #399b1c; }

/**************************
*
*	GENERAL
*
**************************/
.camera_wrap a, .camera_wrap img,
.camera_wrap ol, .camera_wrap ul, .camera_wrap li,
.camera_wrap table, .camera_wrap tbody, .camera_wrap tfoot, .camera_wrap thead, .camera_wrap tr, .camera_wrap th, .camera_wrap td
.camera_thumbs_wrap a, .camera_thumbs_wrap img,
.camera_thumbs_wrap ol, .camera_thumbs_wrap ul, .camera_thumbs_wrap li,
.camera_thumbs_wrap table, .camera_thumbs_wrap tbody, .camera_thumbs_wrap tfoot, .camera_thumbs_wrap thead, .camera_thumbs_wrap tr, .camera_thumbs_wrap th, .camera_thumbs_wrap td {
  background: none;
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  list-style: none; }

.camera_wrap {
  direction: ltr;
  display: none;
  float: left;
  position: relative;
  z-index: 0; }
  .camera_wrap a {
    color: #fff; }
  @media (max-width: 420px) {
    .camera_wrap {
      max-height: calc(35rem);
      min-height: calc(35rem); } }

.camera_wrap img {
  max-width: none !important; }
  @media (max-width: 420px) {
    .camera_wrap img {
      max-height: calc(35rem);
      min-height: calc(35rem);
      object-fit: cover; } }

.camera_fakehover {
  height: 100%;
  min-height: 60px;
  position: relative;
  width: 100%;
  z-index: 1; }

.camera_wrap {
  width: 100%; }

.camera_src {
  display: none; }

.cameraCont, .cameraContents {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1; }

.cameraSlide {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%; }

.cameraContent {
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%; }

.camera_target {
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: 0; }

.camera_overlayer {
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0; }

.camera_target_content {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2; }

.camera_target_content .camera_link {
  background: url(../image/slider/blank.gif);
  display: block;
  height: 100%;
  text-decoration: none; }

.camera_loader {
  background: #fff url(../image/slider/camera-loader.gif) no-repeat center;
  background: rgba(255, 255, 255, 0.9) url(../image/slider/camera-loader.gif) no-repeat center;
  border: 1px solid #ffffff;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  height: 36px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  margin: -18px 0 0 -18px;
  top: 50%;
  width: 36px;
  z-index: 3; }

.camera_bar {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3; }

.camera_thumbs_wrap.camera_left .camera_bar, .camera_thumbs_wrap.camera_right .camera_bar {
  height: 100%;
  position: absolute;
  width: auto; }

.camera_thumbs_wrap.camera_bottom .camera_bar, .camera_thumbs_wrap.camera_top .camera_bar {
  height: auto;
  position: absolute;
  width: 100%; }

.camera_nav_cont {
  height: 65px;
  overflow: hidden;
  position: absolute;
  right: 9px;
  top: 15px;
  width: 120px;
  z-index: 4; }

.camera_caption {
  bottom: 0;
  display: block;
  position: absolute;
  width: 100%; }

.camera_caption > div {
  padding: 10px 20px;
  font-size: 1.8rem; }

.camerarelative {
  overflow: hidden;
  position: relative; }

.imgFake {
  cursor: pointer; }

.camera_prevThumbs {
  bottom: 4px;
  cursor: pointer;
  left: 0;
  position: absolute;
  top: 4px;
  visibility: hidden;
  width: 30px;
  z-index: 10; }

.camera_prevThumbs div {
  background: url(../image/slider/camera.png) no-repeat -160px 0;
  display: block;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  width: 30px; }

.camera_nextThumbs {
  bottom: 4px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 4px;
  visibility: hidden;
  width: 30px;
  z-index: 10; }

.camera_nextThumbs div {
  background: url(../image/slider/camera.png) no-repeat -190px 0;
  display: block;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  width: 30px; }

.camera_command_wrap .hideNav {
  display: none; }

.camera_command_wrap {
  left: 0;
  position: relative;
  right: 0;
  z-index: 4; }

.camera_wrap .camera_pag .camera_pag_ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right; }

.camera_wrap .camera_pag .camera_pag_ul li {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  margin: 20px 5px;
  position: relative;
  text-align: left;
  text-indent: 9999px;
  width: 16px; }

.camera_commands_emboss .camera_pag .camera_pag_ul li {
  -moz-box-shadow: 0px 1px 0px white, inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 0px white, inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 0px white, inset 0px 1px 1px rgba(0, 0, 0, 0.2); }

.camera_wrap .camera_pag .camera_pag_ul li > span {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 8px;
  left: 4px;
  overflow: hidden;
  position: absolute;
  top: 4px;
  width: 8px; }

.camera_commands_emboss .camera_pag .camera_pag_ul li:hover > span {
  -moz-box-shadow: 0px 1px 0px white, inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 0px white, inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 0px white, inset 0px 1px 1px rgba(0, 0, 0, 0.2); }

.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
  -moz-box-shadow: 0;
  -webkit-box-shadow: 0;
  box-shadow: 0; }

.camera_pag_ul li img {
  display: none;
  position: absolute; }

.camera_pag_ul .thumb_arrow {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid;
  top: 0;
  left: 50%;
  margin-left: -4px;
  position: absolute; }

.camera_prev, .camera_next, .camera_commands {
  cursor: pointer;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  width: 40px;
  z-index: 2; }

.camera_prev {
  left: 0; }

.camera_prev > span {
  background: url(../image/slider/camera.png) no-repeat 0 0;
  display: block;
  height: 40px;
  width: 40px; }

.camera_next {
  right: 0; }

.camera_next > span {
  background: url(../image/slider/camera.png) no-repeat -40px 0;
  display: block;
  height: 40px;
  width: 40px; }

.camera_commands {
  right: 41px; }

.camera_commands > .camera_play {
  background: url(../image/slider/camera.png) no-repeat -80px 0;
  height: 40px;
  width: 40px; }

.camera_commands > .camera_stop {
  background: url(../image/slider/camera.png) no-repeat -120px 0;
  display: block;
  height: 40px;
  width: 40px; }

.camera_wrap .camera_pag .camera_pag_ul li {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  margin: 20px 5px;
  position: relative;
  text-indent: 9999px;
  width: 16px; }

.camera_thumbs_cont {
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  overflow: hidden;
  position: relative;
  width: 100%; }

.camera_commands_emboss .camera_thumbs_cont {
  -moz-box-shadow: 0px 1px 0px white, inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 0px white, inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 0px white, inset 0px 1px 1px rgba(0, 0, 0, 0.2); }

.camera_thumbs_cont > div {
  float: left;
  width: 100%; }

.camera_thumbs_cont ul {
  overflow: hidden;
  padding: 3px 4px 8px;
  position: relative;
  text-align: center; }

.camera_thumbs_cont ul li {
  display: inline;
  padding: 0 4px; }

.camera_thumbs_cont ul li > img {
  border: 1px solid;
  cursor: pointer;
  margin-top: 5px;
  vertical-align: bottom; }

.camera_clear {
  display: block;
  clear: both; }

.showIt {
  display: none; }

.camera_clear {
  clear: both;
  display: block;
  height: 1px;
  margin: -1px 0 25px;
  position: relative; }

/**************************
*
*	COLORS & SKINS
*
**************************/
.pattern_1 .camera_overlayer {
  background: url(../image/slider/patterns/overlay1.png) repeat; }

.pattern_2 .camera_overlayer {
  background: url(../image/slider/patterns/overlay2.png) repeat; }

.pattern_3 .camera_overlayer {
  background: url(../image/slider/patterns/overlay3.png) repeat; }

.pattern_4 .camera_overlayer {
  background: url(../image/slider/patterns/overlay4.png) repeat; }

.pattern_5 .camera_overlayer {
  background: url(../images/patterns/overlay5.png) repeat; }

.pattern_6 .camera_overlayer {
  background: url(../image/slider/patterns/overlay6.png) repeat; }

.pattern_7 .camera_overlayer {
  background: url(../image/slider/patterns/overlay7.png) repeat; }

.pattern_8 .camera_overlayer {
  background: url(../image/slider/patterns/overlay8.png) repeat; }

.pattern_9 .camera_overlayer {
  background: url(../image/slider/patterns/overlay9.png) repeat; }

.pattern_10 .camera_overlayer {
  background: url(../image/slider/patterns/overlay10.png) repeat; }

.camera_caption {
  color: #fff; }

.camera_caption > div {
  background: #000;
  background: rgba(0, 0, 0, 0.8); }

.camera_wrap .camera_pag .camera_pag_ul li {
  background: #b7b7b7; }

.camera_wrap .camera_pag .camera_pag_ul li:hover > span {
  background: #b7b7b7; }

.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
  background: #434648; }

.camera_pag_ul li img {
  border: 4px solid #e6e6e6;
  -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  width: 100%; }

.camera_pag_ul .thumb_arrow {
  border-top-color: #e6e6e6; }

.camera_prevThumbs, .camera_nextThumbs, .camera_prev, .camera_next, .camera_commands, .camera_thumbs_cont {
  background: #d8d8d8;
  background: rgba(216, 216, 216, 0.85); }

.camera_wrap .camera_pag .camera_pag_ul li {
  background: #b7b7b7; }

.camera_thumbs_cont ul li > img {
  border-color: 1px solid #000; }

/*AMBER SKIN*/
.camera_amber_skin .camera_prevThumbs div {
  background-position: -160px -160px; }

.camera_amber_skin .camera_nextThumbs div {
  background-position: -190px -160px; }

.camera_amber_skin .camera_prev > span {
  background-position: 0 -160px; }

.camera_amber_skin .camera_next > span {
  background-position: -40px -160px; }

.camera_amber_skin .camera_commands > .camera_play {
  background-position: -80px -160px; }

.camera_amber_skin .camera_commands > .camera_stop {
  background-position: -120px -160px; }

/*ASH SKIN*/
.camera_ash_skin .camera_prevThumbs div {
  background-position: -160px -200px; }

.camera_ash_skin .camera_nextThumbs div {
  background-position: -190px -200px; }

.camera_ash_skin .camera_prev > span {
  background-position: 0 -200px; }

.camera_ash_skin .camera_next > span {
  background-position: -40px -200px; }

.camera_ash_skin .camera_commands > .camera_play {
  background-position: -80px -200px; }

.camera_ash_skin .camera_commands > .camera_stop {
  background-position: -120px -200px; }

/*AZURE SKIN*/
.camera_azure_skin .camera_prevThumbs div {
  background-position: -160px -80px; }

.camera_azure_skin .camera_nextThumbs div {
  background-position: -190px -80px; }

.camera_azure_skin .camera_prev > span {
  background-position: 0 -80px; }

.camera_azure_skin .camera_next > span {
  background-position: -40px -80px; }

.camera_azure_skin .camera_commands > .camera_play {
  background-position: -80px -80px; }

.camera_azure_skin .camera_commands > .camera_stop {
  background-position: -120px -80px; }

/*BEIGE SKIN*/
.camera_beige_skin .camera_prevThumbs div {
  background-position: -160px -120px; }

.camera_beige_skin .camera_nextThumbs div {
  background-position: -190px -120px; }

.camera_beige_skin .camera_prev > span {
  background-position: 0 -120px; }

.camera_beige_skin .camera_next > span {
  background-position: -40px -120px; }

.camera_beige_skin .camera_commands > .camera_play {
  background-position: -80px -120px; }

.camera_beige_skin .camera_commands > .camera_stop {
  background-position: -120px -120px; }

/*BLACK SKIN*/
.camera_black_skin .camera_prevThumbs div {
  background-position: -160px -40px; }

.camera_black_skin .camera_nextThumbs div {
  background-position: -190px -40px; }

.camera_black_skin .camera_prev > span {
  background-position: 0 -40px; }

.camera_black_skin .camera_next > span {
  background-position: -40px -40px; }

.camera_black_skin .camera_commands > .camera_play {
  background-position: -80px -40px; }

.camera_black_skin .camera_commands > .camera_stop {
  background-position: -120px -40px; }

/*BLUE SKIN*/
.camera_blue_skin .camera_prevThumbs div {
  background-position: -160px -280px; }

.camera_blue_skin .camera_nextThumbs div {
  background-position: -190px -280px; }

.camera_blue_skin .camera_prev > span {
  background-position: 0 -280px; }

.camera_blue_skin .camera_next > span {
  background-position: -40px -280px; }

.camera_blue_skin .camera_commands > .camera_play {
  background-position: -80px -280px; }

.camera_blue_skin .camera_commands > .camera_stop {
  background-position: -120px -280px; }

/*BROWN SKIN*/
.camera_brown_skin .camera_prevThumbs div {
  background-position: -160px -320px; }

.camera_brown_skin .camera_nextThumbs div {
  background-position: -190px -320px; }

.camera_brown_skin .camera_prev > span {
  background-position: 0 -320px; }

.camera_brown_skin .camera_next > span {
  background-position: -40px -320px; }

.camera_brown_skin .camera_commands > .camera_play {
  background-position: -80px -320px; }

.camera_brown_skin .camera_commands > .camera_stop {
  background-position: -120px -320px; }

/*BURGUNDY SKIN*/
.camera_burgundy_skin .camera_prevThumbs div {
  background-position: -160px -360px; }

.camera_burgundy_skin .camera_nextThumbs div {
  background-position: -190px -360px; }

.camera_burgundy_skin .camera_prev > span {
  background-position: 0 -360px; }

.camera_burgundy_skin .camera_next > span {
  background-position: -40px -360px; }

.camera_burgundy_skin .camera_commands > .camera_play {
  background-position: -80px -360px; }

.camera_burgundy_skin .camera_commands > .camera_stop {
  background-position: -120px -360px; }

/*CHARCOAL SKIN*/
.camera_charcoal_skin .camera_prevThumbs div {
  background-position: -160px -400px; }

.camera_charcoal_skin .camera_nextThumbs div {
  background-position: -190px -400px; }

.camera_charcoal_skin .camera_prev > span {
  background-position: 0 -400px; }

.camera_charcoal_skin .camera_next > span {
  background-position: -40px -400px; }

.camera_charcoal_skin .camera_commands > .camera_play {
  background-position: -80px -400px; }

.camera_charcoal_skin .camera_commands > .camera_stop {
  background-position: -120px -400px; }

/*CHOCOLATE SKIN*/
.camera_chocolate_skin .camera_prevThumbs div {
  background-position: -160px -440px; }

.camera_chocolate_skin .camera_nextThumbs div {
  background-position: -190px -440px; }

.camera_chocolate_skin .camera_prev > span {
  background-position: 0 -440px; }

.camera_chocolate_skin .camera_next > span {
  background-position: -40px -440px; }

.camera_chocolate_skin .camera_commands > .camera_play {
  background-position: -80px -440px; }

.camera_chocolate_skin .camera_commands > .camera_stop {
  background-position: -120px -440px; }

/*COFFEE SKIN*/
.camera_coffee_skin .camera_prevThumbs div {
  background-position: -160px -480px; }

.camera_coffee_skin .camera_nextThumbs div {
  background-position: -190px -480px; }

.camera_coffee_skin .camera_prev > span {
  background-position: 0 -480px; }

.camera_coffee_skin .camera_next > span {
  background-position: -40px -480px; }

.camera_coffee_skin .camera_commands > .camera_play {
  background-position: -80px -480px; }

.camera_coffee_skin .camera_commands > .camera_stop {
  background-position: -120px -480px; }

/*CYAN SKIN*/
.camera_cyan_skin .camera_prevThumbs div {
  background-position: -160px -520px; }

.camera_cyan_skin .camera_nextThumbs div {
  background-position: -190px -520px; }

.camera_cyan_skin .camera_prev > span {
  background-position: 0 -520px; }

.camera_cyan_skin .camera_next > span {
  background-position: -40px -520px; }

.camera_cyan_skin .camera_commands > .camera_play {
  background-position: -80px -520px; }

.camera_cyan_skin .camera_commands > .camera_stop {
  background-position: -120px -520px; }

/*FUCHSIA SKIN*/
.camera_fuchsia_skin .camera_prevThumbs div {
  background-position: -160px -560px; }

.camera_fuchsia_skin .camera_nextThumbs div {
  background-position: -190px -560px; }

.camera_fuchsia_skin .camera_prev > span {
  background-position: 0 -560px; }

.camera_fuchsia_skin .camera_next > span {
  background-position: -40px -560px; }

.camera_fuchsia_skin .camera_commands > .camera_play {
  background-position: -80px -560px; }

.camera_fuchsia_skin .camera_commands > .camera_stop {
  background-position: -120px -560px; }

/*GOLD SKIN*/
.camera_gold_skin .camera_prevThumbs div {
  background-position: -160px -600px; }

.camera_gold_skin .camera_nextThumbs div {
  background-position: -190px -600px; }

.camera_gold_skin .camera_prev > span {
  background-position: 0 -600px; }

.camera_gold_skin .camera_next > span {
  background-position: -40px -600px; }

.camera_gold_skin .camera_commands > .camera_play {
  background-position: -80px -600px; }

.camera_gold_skin .camera_commands > .camera_stop {
  background-position: -120px -600px; }

/*GREEN SKIN*/
.camera_green_skin .camera_prevThumbs div {
  background-position: -160px -640px; }

.camera_green_skin .camera_nextThumbs div {
  background-position: -190px -640px; }

.camera_green_skin .camera_prev > span {
  background-position: 0 -640px; }

.camera_green_skin .camera_next > span {
  background-position: -40px -640px; }

.camera_green_skin .camera_commands > .camera_play {
  background-position: -80px -640px; }

.camera_green_skin .camera_commands > .camera_stop {
  background-position: -120px -640px; }

/*GREY SKIN*/
.camera_grey_skin .camera_prevThumbs div {
  background-position: -160px -680px; }

.camera_grey_skin .camera_nextThumbs div {
  background-position: -190px -680px; }

.camera_grey_skin .camera_prev > span {
  background-position: 0 -680px; }

.camera_grey_skin .camera_next > span {
  background-position: -40px -680px; }

.camera_grey_skin .camera_commands > .camera_play {
  background-position: -80px -680px; }

.camera_grey_skin .camera_commands > .camera_stop {
  background-position: -120px -680px; }

/*INDIGO SKIN*/
.camera_indigo_skin .camera_prevThumbs div {
  background-position: -160px -720px; }

.camera_indigo_skin .camera_nextThumbs div {
  background-position: -190px -720px; }

.camera_indigo_skin .camera_prev > span {
  background-position: 0 -720px; }

.camera_indigo_skin .camera_next > span {
  background-position: -40px -720px; }

.camera_indigo_skin .camera_commands > .camera_play {
  background-position: -80px -720px; }

.camera_indigo_skin .camera_commands > .camera_stop {
  background-position: -120px -720px; }

/*KHAKI SKIN*/
.camera_khaki_skin .camera_prevThumbs div {
  background-position: -160px -760px; }

.camera_khaki_skin .camera_nextThumbs div {
  background-position: -190px -760px; }

.camera_khaki_skin .camera_prev > span {
  background-position: 0 -760px; }

.camera_khaki_skin .camera_next > span {
  background-position: -40px -760px; }

.camera_khaki_skin .camera_commands > .camera_play {
  background-position: -80px -760px; }

.camera_khaki_skin .camera_commands > .camera_stop {
  background-position: -120px -760px; }

/*LIME SKIN*/
.camera_lime_skin .camera_prevThumbs div {
  background-position: -160px -800px; }

.camera_lime_skin .camera_nextThumbs div {
  background-position: -190px -800px; }

.camera_lime_skin .camera_prev > span {
  background-position: 0 -800px; }

.camera_lime_skin .camera_next > span {
  background-position: -40px -800px; }

.camera_lime_skin .camera_commands > .camera_play {
  background-position: -80px -800px; }

.camera_lime_skin .camera_commands > .camera_stop {
  background-position: -120px -800px; }

/*MAGENTA SKIN*/
.camera_magenta_skin .camera_prevThumbs div {
  background-position: -160px -840px; }

.camera_magenta_skin .camera_nextThumbs div {
  background-position: -190px -840px; }

.camera_magenta_skin .camera_prev > span {
  background-position: 0 -840px; }

.camera_magenta_skin .camera_next > span {
  background-position: -40px -840px; }

.camera_magenta_skin .camera_commands > .camera_play {
  background-position: -80px -840px; }

.camera_magenta_skin .camera_commands > .camera_stop {
  background-position: -120px -840px; }

/*MAROON SKIN*/
.camera_maroon_skin .camera_prevThumbs div {
  background-position: -160px -880px; }

.camera_maroon_skin .camera_nextThumbs div {
  background-position: -190px -880px; }

.camera_maroon_skin .camera_prev > span {
  background-position: 0 -880px; }

.camera_maroon_skin .camera_next > span {
  background-position: -40px -880px; }

.camera_maroon_skin .camera_commands > .camera_play {
  background-position: -80px -880px; }

.camera_maroon_skin .camera_commands > .camera_stop {
  background-position: -120px -880px; }

/*ORANGE SKIN*/
.camera_orange_skin .camera_prevThumbs div {
  background-position: -160px -920px; }

.camera_orange_skin .camera_nextThumbs div {
  background-position: -190px -920px; }

.camera_orange_skin .camera_prev > span {
  background-position: 0 -920px; }

.camera_orange_skin .camera_next > span {
  background-position: -40px -920px; }

.camera_orange_skin .camera_commands > .camera_play {
  background-position: -80px -920px; }

.camera_orange_skin .camera_commands > .camera_stop {
  background-position: -120px -920px; }

/*OLIVE SKIN*/
.camera_olive_skin .camera_prevThumbs div {
  background-position: -160px -1080px; }

.camera_olive_skin .camera_nextThumbs div {
  background-position: -190px -1080px; }

.camera_olive_skin .camera_prev > span {
  background-position: 0 -1080px; }

.camera_olive_skin .camera_next > span {
  background-position: -40px -1080px; }

.camera_olive_skin .camera_commands > .camera_play {
  background-position: -80px -1080px; }

.camera_olive_skin .camera_commands > .camera_stop {
  background-position: -120px -1080px; }

/*PINK SKIN*/
.camera_pink_skin .camera_prevThumbs div {
  background-position: -160px -960px; }

.camera_pink_skin .camera_nextThumbs div {
  background-position: -190px -960px; }

.camera_pink_skin .camera_prev > span {
  background-position: 0 -960px; }

.camera_pink_skin .camera_next > span {
  background-position: -40px -960px; }

.camera_pink_skin .camera_commands > .camera_play {
  background-position: -80px -960px; }

.camera_pink_skin .camera_commands > .camera_stop {
  background-position: -120px -960px; }

/*PISTACHIO SKIN*/
.camera_pistachio_skin .camera_prevThumbs div {
  background-position: -160px -1040px; }

.camera_pistachio_skin .camera_nextThumbs div {
  background-position: -190px -1040px; }

.camera_pistachio_skin .camera_prev > span {
  background-position: 0 -1040px; }

.camera_pistachio_skin .camera_next > span {
  background-position: -40px -1040px; }

.camera_pistachio_skin .camera_commands > .camera_play {
  background-position: -80px -1040px; }

.camera_pistachio_skin .camera_commands > .camera_stop {
  background-position: -120px -1040px; }

/*PINK SKIN*/
.camera_pink_skin .camera_prevThumbs div {
  background-position: -160px -80px; }

.camera_pink_skin .camera_nextThumbs div {
  background-position: -190px -80px; }

.camera_pink_skin .camera_prev > span {
  background-position: 0 -80px; }

.camera_pink_skin .camera_next > span {
  background-position: -40px -80px; }

.camera_pink_skin .camera_commands > .camera_play {
  background-position: -80px -80px; }

.camera_pink_skin .camera_commands > .camera_stop {
  background-position: -120px -80px; }

/*RED SKIN*/
.camera_red_skin .camera_prevThumbs div {
  background-position: -160px -1000px; }

.camera_red_skin .camera_nextThumbs div {
  background-position: -190px -1000px; }

.camera_red_skin .camera_prev > span {
  background-position: 0 -1000px; }

.camera_red_skin .camera_next > span {
  background-position: -40px -1000px; }

.camera_red_skin .camera_commands > .camera_play {
  background-position: -80px -1000px; }

.camera_red_skin .camera_commands > .camera_stop {
  background-position: -120px -1000px; }

/*TANGERINE SKIN*/
.camera_tangerine_skin .camera_prevThumbs div {
  background-position: -160px -1120px; }

.camera_tangerine_skin .camera_nextThumbs div {
  background-position: -190px -1120px; }

.camera_tangerine_skin .camera_prev > span {
  background-position: 0 -1120px; }

.camera_tangerine_skin .camera_next > span {
  background-position: -40px -1120px; }

.camera_tangerine_skin .camera_commands > .camera_play {
  background-position: -80px -1120px; }

.camera_tangerine_skin .camera_commands > .camera_stop {
  background-position: -120px -1120px; }

/*TURQUOISE SKIN*/
.camera_turquoise_skin .camera_prevThumbs div {
  background-position: -160px -1160px; }

.camera_turquoise_skin .camera_nextThumbs div {
  background-position: -190px -1160px; }

.camera_turquoise_skin .camera_prev > span {
  background-position: 0 -1160px; }

.camera_turquoise_skin .camera_next > span {
  background-position: -40px -1160px; }

.camera_turquoise_skin .camera_commands > .camera_play {
  background-position: -80px -1160px; }

.camera_turquoise_skin .camera_commands > .camera_stop {
  background-position: -120px -1160px; }

/*VIOLET SKIN*/
.camera_violet_skin .camera_prevThumbs div {
  background-position: -160px -1200px; }

.camera_violet_skin .camera_nextThumbs div {
  background-position: -190px -1200px; }

.camera_violet_skin .camera_prev > span {
  background-position: 0 -1200px; }

.camera_violet_skin .camera_next > span {
  background-position: -40px -1200px; }

.camera_violet_skin .camera_commands > .camera_play {
  background-position: -80px -1200px; }

.camera_violet_skin .camera_commands > .camera_stop {
  background-position: -120px -1200px; }

/*WHITE SKIN*/
.camera_white_skin .camera_prevThumbs div {
  background-position: -160px -80px; }

.camera_white_skin .camera_nextThumbs div {
  background-position: -190px -80px; }

.camera_white_skin .camera_prev > span {
  background-position: 0 -80px; }

.camera_white_skin .camera_next > span {
  background-position: -40px -80px; }

.camera_white_skin .camera_commands > .camera_play {
  background-position: -80px -80px; }

.camera_white_skin .camera_commands > .camera_stop {
  background-position: -120px -80px; }

/*YELLOW SKIN*/
.camera_yellow_skin .camera_prevThumbs div {
  background-position: -160px -1240px; }

.camera_yellow_skin .camera_nextThumbs div {
  background-position: -190px -1240px; }

.camera_yellow_skin .camera_prev > span {
  background-position: 0 -1240px; }

.camera_yellow_skin .camera_next > span {
  background-position: -40px -1240px; }

.camera_yellow_skin .camera_commands > .camera_play {
  background-position: -80px -1240px; }

.camera_yellow_skin .camera_commands > .camera_stop {
  background-position: -120px -1240px; }

.choose-hotel .text-wrap {
  text-align: center; }
.choose-hotel .heading-wrap {
  margin-bottom: 2rem; }

.hotel-wrap .hold {
  position: relative; }
  .hotel-wrap .hold .photo {
    Overflow: hidden; }
    .hotel-wrap .hold .photo img {
      width: 100%;
      max-height: calc(40rem);
      min-height: calc(40rem);
      object-fit: cover; }
.hotel-wrap .title-wrap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; }
  .hotel-wrap .title-wrap .box {
    display: table;
    height: 100%;
    padding: 2rem;
    text-align: center;
    width: 100%; }
  .hotel-wrap .title-wrap .holder {
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #fff;
    display: table-cell;
    vertical-align: middle; }
  .hotel-wrap .title-wrap h3 {
    margin: 0; }
    .hotel-wrap .title-wrap h3 a {
      padding: 0 2rem; }

.hotel-details .hotel-slider {
  position: relative; }
  .hotel-details .hotel-slider .photo img {
    width: 100%;
    max-height: calc(40rem);
    min-height: calc(40rem);
    object-fit: cover; }
.hotel-details .owl-carousel .owl-item {
  padding: 0; }
.hotel-details .owl-controls .owl-prev,
.hotel-details .owl-controls .owl-next {
  background: #399b1c;
  color: #fff;
  padding: 1rem;
  position: absolute;
  top: 42%; }
.hotel-details .owl-controls .owl-prev {
  left: 1.5rem; }
.hotel-details .owl-controls .owl-next {
  right: 1.5rem; }

.hotel-description {
  margin: 3rem 0; }
  .hotel-description h3 {
    margin: 1rem 0; }
  .hotel-description .title h2 {
    color: #399b1c;
    margin-bottom: 1rem; }
  .hotel-description ul {
    -webkit-columns: 2;
    -moz-columns: 2;
    -ms-columns: 2;
    -o-columns: 2;
    columns: 2; }
    .hotel-description ul li {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      margin: 0 0 1rem;
      /* .fa{
      	color: $primaryAnchorColor;
      	} */ }
      .hotel-description ul li span {
        padding: 1rem;
        display: block;
        border: 1px solid #ccc;
        background: #f9f9f9; }
      .hotel-description ul li strong {
        margin: 0 2rem 0 0; }

.book-form-holder {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 2rem;
  margin-top: 4rem;
  margin-bottom: 3rem; }
  .book-form-holder .heading h2 {
    line-height: 2;
    margin-bottom: 1.5rem; }
  .book-form-holder .btn-wrap {
    text-align: right;
    margin-right: 1.5rem; }
  .book-form-holder h4 {
    margin-bottom: 1rem; }

.booking {
  /* REQUIRED for core functionality */
  /* END - Required for core functionality */
  /* OPTIONAL - Basic Skin */
  /* END - Optional - Basic Skin */ }
  .booking .responsive-tabs__heading {
    display: none; }
  .booking .responsive-tabs__list__item {
    display: inline;
    cursor: pointer; }
  @media (max-width: 767px) {
    .booking .responsive-tabs__list {
      display: none; }
    .booking .responsive-tabs__heading {
      display: block;
      cursor: pointer; }
    .booking .responsive-tabs__panel--closed-accordion-only {
      display: none; } }
  @media (min-width: 768px) {
    .booking .responsive-tabs__panel--closed-accordion-only {
      display: block !important; } }
  .booking .responsive-tabs-wrapper {
    clear: both;
    zoom: 1; }
  .booking .responsive-tabs-wrapper:before,
  .booking .responsive-tabs-wrapper:after {
    content: "";
    display: table; }
  .booking .responsive-tabs-wrapper:after {
    clear: both; }
  .booking .responsive-tabs__heading:focus,
  .booking .responsive-tabs__list__item:focus {
    outline: 1px solid #ccc; }
  .booking .responsive-tabs__heading--active:focus,
  .booking .responsive-tabs__list__item--active:focus {
    outline: none !important; }
  .booking .responsive-tabs__list {
    font-size: 1.2em;
    margin: 2em 0 0 0;
    padding: 0;
    border-bottom: 1px solid #bbb;
    padding-bottom: 11px;
    line-height: 1em; }
  .booking .responsive-tabs__list__item {
    background: #eee;
    padding: 9px 20px;
    margin-right: 1em;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px solid #bbb;
    border-top: 3px solid #bbb; }
  .booking .responsive-tabs__list__item:hover {
    background: #efefef; }
  .booking .responsive-tabs__list__item--active,
  .booking .responsive-tabs__list__item--active:hover {
    background: #fff;
    border-bottom-color: #fff;
    border-top: 3px solid #399b1c; }
  .booking .responsive-tabs__panel {
    margin-bottom: 50px; }
  @media (max-width: 767px) {
    .booking .responsive-tabs__heading {
      padding: 0.5em;
      border-radius: 5px;
      border: 1px solid #ccc;
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
      background: #ddd;
      position: relative; }
    .booking .responsive-tabs__heading:after {
      content: "";
      display: block;
      position: absolute;
      right: 20px;
      top: 40%;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #000; }
    .booking .responsive-tabs__heading:hover,
    .booking .responsive-tabs__heading--active:hover {
      background-color: #efefef; }
    .booking .responsive-tabs__heading--active {
      background: #fff; }
    .booking .responsive-tabs__heading--active:after {
      border-bottom: 10px solid #000;
      border-top: 0; } }
  .booking .box {
    background-color: #aaa;
    padding: 1rem; }
    .booking .box span select {
      padding: 5px 10px; }
      .booking .box span select option {
        padding: 5px 10px; }
  .booking .service {
    padding: 2rem; }
    .booking .service .box {
      background-color: transparent; }
      .booking .service .box figure {
        max-height: calc(20rem);
        min-height: calc(20rem); }
  .booking .media {
    margin: 2rem 0; }
    .booking .media .media-body {
      width: auto; }
  .booking hr {
    border-color: #bbb; }
  .booking .pagination .active a {
    background-color: #399b1c; }

textarea {
  width: 100%; }

@media (max-width: 420px) {
  .book-form-wrap {
    padding: 0;
    margin: 0; } }

.footer-top {
  background: #3d5c45;
  font-size: 1.4rem;
  padding: 5rem 0;
  color: #fff; }
  .footer-top h4 {
    font-size: 3rem;
    margin-bottom: 2rem; }
  .footer-top ul li {
    margin: 0 0 0.8rem; }
  .footer-top .links {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2; }
    @media (max-width: 420px) {
      .footer-top .links {
        margin-bottom: 2.5rem; } }
    .footer-top .links li a {
      color: #fff;
      transition: 0.5s; }
      .footer-top .links li a:hover {
        margin-left: 5px;
        transition: 0.5s; }
  .footer-top .address {
    font-size: 1.3rem; }
    .footer-top .address span {
      display: block;
      vertical-align: top;
      margin: 1rem 0;
      padding-left: 2.5rem;
      position: relative; }
      .footer-top .address span i {
        position: absolute;
        left: 0;
        margin-top: 3px; }
    .footer-top .address strong {
      font-size: 1.5rem;
      letter-spacing: 0.5px; }
    .footer-top .address a {
      color: #fff; }
  .footer-top .sign-up input {
    width: 100%;
    padding: 1rem 2rem;
    background: transparent;
    border: 1px solid #fff; }
    @media (max-width: 767px) {
      .footer-top .sign-up input {
        margin-bottom: 1rem; } }
  .footer-top .sign-up a {
    border: 1px solid #399b1c;
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 0;
    color: #399b1c; }
  .footer-top .partners {
    margin-bottom: 1.5rem; }
    .footer-top .partners li {
      display: inline;
      margin-right: 5px; }
      .footer-top .partners li img {
        height: 35px;
        border-radius: 3px; }
  @media (max-width: 1025px) and (min-width: 900px) {
    .footer-top .col-md-5, .footer-top .col-md-7 {
      width: 100%; } }

.footer-wrap {
  background: #293d2e;
  color: #fff; }
  .footer-wrap .footer-btm {
    padding: 1.5rem;
    font-size: 1.4rem; }
    .footer-wrap .footer-btm .copyright p {
      margin: 0;
      text-align: center; }

.we-accept {
  margin-bottom: 1rem; }

@media (max-width: 420px) {
  .we-accept-list {
    margin-bottom: 2.5rem; } }
@media (max-width: 1025px) {
  .we-accept-list {
    margin-bottom: 2.5rem; } }
.we-accept-list li {
  display: inline;
  margin-right: 5px; }
  .we-accept-list li img {
    height: 30px;
    border-radius: 3px; }

.about-us {
  padding: 5rem;
  text-align: center; }
  @media (max-width: 420px) {
    .about-us {
      padding: 3rem 1rem; } }
  .about-us h2 {
    margin-bottom: 2rem; }

.service {
  background: #f1f1f1;
  padding: 5rem; }
  @media (max-width: 420px) {
    .service {
      padding: 3rem 1rem; } }
  .service h2 {
    margin-bottom: 2rem; }
  .service .box {
    margin-bottom: 2rem; }
    .service .box figure {
      overflow: hidden;
      position: relative;
      max-height: 250px;
      min-height: 250px; }
      @media (max-width: 1025px) {
        .service .box figure {
          max-height: 200px;
          min-height: 200px; } }
      @media (max-width: 420px) {
        .service .box figure {
          max-height: calc(25rem);
          min-height: calc(25rem);
          width: 100%; } }
      .service .box figure img {
        object-fit: cover;
        max-height: calc(25rem);
        min-height: calc(25rem);
        width: 100%;
        moz-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        @media (max-width: 420px) {
          .service .box figure img {
            max-height: calc(25rem);
            min-height: calc(25rem);
            width: 100%; } }
        .service .box figure img:hover {
          -moz-transform: scale(1.1);
          -webkit-transform: scale(1.1);
          transform: scale(1.1); }
      .service .box figure figcaption {
        font-size: 20px;
        color: #fff;
        width: 100%;
        position: absolute;
        bottom: 0px;
        text-align: center;
        padding: 1rem;
        background: #000;
        background: -webkit-linear-gradient(transparent, #000);
        background: -o-linear-gradient(transparent, #000);
        background: -moz-linear-gradient(transparent, #000);
        background: linear-gradient(transparent, #000); }

.testimonial {
  background: url("../image/testimonials/testimonial.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .testimonial .bg {
    background: rgba(0, 0, 0, 0.7);
    padding: 5rem;
    color: #fff; }
    @media (max-width: 420px) {
      .testimonial .bg {
        padding: 3rem 1rem; } }
    .testimonial .bg h2 {
      margin-bottom: 2rem; }
    .testimonial .bg .testimonial-list figure {
      height: 200px;
      width: 200px;
      margin: auto; }
      @media (max-width: 420px) {
        .testimonial .bg .testimonial-list figure {
          height: 100px;
          width: 100px; } }
      .testimonial .bg .testimonial-list figure img {
        border-radius: 50%;
        height: 100%;
        width: 100%; }
    .testimonial .bg .testimonial-list p {
      text-align: center; }
    .testimonial .bg .testimonial-list span {
      color: #399b1c;
      text-align: center;
      display: block;
      font-weight: 600; }

.blog {
  padding: 5rem; }
  @media (max-width: 420px) {
    .blog {
      padding: 3rem 1rem; } }
  .blog h2 {
    margin-bottom: 2rem; }
  .blog .blog-list .box {
    box-shadow: 0 0 10px #555;
    overflow: auto; }
    .blog .blog-list .box figure {
      height: 280px; }
      .blog .blog-list .box figure img {
        height: 100%;
        object-fit: cover; }
    .blog .blog-list .box span {
      color: #399b1c;
      font-size: 1.2rem;
      margin-bottom: 0.8rem;
      display: block; }
    .blog .blog-list .box h3 {
      margin-top: 1rem; }

.inner {
  padding-top: 110px;
  min-height: calc(100vh - 160px);
  margin-bottom: 5rem; }
  .inner h2 {
    margin-bottom: 1rem; }
  .inner .details-wrap, .inner .contact-form-wrap {
    border: 1px solid #ccc;
    padding: 2rem;
    margin-bottom: 2rem; }
    .inner .details-wrap .address, .inner .contact-form-wrap .address {
      font-size: 1.3rem;
      margin-bottom: 0; }
      .inner .details-wrap .address span, .inner .contact-form-wrap .address span {
        display: block;
        vertical-align: top;
        margin: 1rem 0;
        padding-left: 2.5rem;
        position: relative; }
        .inner .details-wrap .address span i, .inner .contact-form-wrap .address span i {
          position: absolute;
          left: 0;
          margin-top: 3px; }
      .inner .details-wrap .address strong, .inner .contact-form-wrap .address strong {
        font-size: 1.5rem;
        letter-spacing: 0.5px; }
      .inner .details-wrap .address a, .inner .contact-form-wrap .address a {
        color: initial; }

.trek-list {
  margin: 2rem 0; }
  .trek-list .thumbnail .caption h4 {
    margin: 0.5rem 0; }

.trek-description {
  position: relative; }
  .trek-description .photo {
    float: left;
    margin-right: 2rem; }
    .trek-description .photo img {
      max-width: calc(40rem);
      min-width: calc(40rem); }
      @media (max-width: 420px) {
        .trek-description .photo img {
          max-width: 100%;
          min-width: 100%;
          margin-bottom: 1rem; } }
  .trek-description h2 {
    margin-bottom: 1rem; }

.itinerary {
  margin: 2rem 0;
  /* REQUIRED for core functionality */
  /* END - Required for core functionality */
  /* OPTIONAL - Basic Skin */
  /* END - Optional - Basic Skin */ }
  .itinerary h2 {
    margin-bottom: 1rem; }
  .itinerary .responsive-tabs__heading {
    display: none; }
  .itinerary .responsive-tabs__list__item {
    display: inline;
    cursor: pointer; }
  .itinerary .responsive-tabs-wrapper {
    clear: both;
    zoom: 1; }
  .itinerary .responsive-tabs-wrapper:before,
  .itinerary .responsive-tabs-wrapper:after {
    content: "";
    display: table; }
  .itinerary .responsive-tabs-wrapper:after {
    clear: both; }
  .itinerary .responsive-tabs__heading:focus,
  .itinerary .responsive-tabs__list__item:focus {
    outline: 1px solid #ccc; }
  .itinerary .responsive-tabs__heading--active:focus,
  .itinerary .responsive-tabs__list__item--active:focus {
    outline: none !important; }
  .itinerary .responsive-tabs__list {
    font-size: 1.2em;
    margin: 2em 0 0 0;
    padding: 0;
    border-bottom: 1px solid #bbb;
    padding-bottom: 11px;
    line-height: 1em; }
  .itinerary .responsive-tabs__list__item {
    background: #eee;
    padding: 9px 20px;
    margin-right: 1em;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px solid #bbb;
    border-top: 3px solid #bbb; }
  .itinerary .responsive-tabs__list__item:hover {
    background: #efefef; }
  .itinerary .responsive-tabs__list__item--active,
  .itinerary .responsive-tabs__list__item--active:hover {
    background: #fff;
    border-bottom-color: #fff;
    border-top: 3px solid #399b1c; }
  .itinerary .responsive-tabs__panel {
    margin-bottom: 50px;
    border: 1px solid #bbb;
    border-top: none;
    padding: 2rem; }
  @media (max-width: 767px) {
    .itinerary .responsive-tabs__heading {
      margin-top: 3rem;
      padding: 0.5em;
      border-radius: 0px;
      border: 1px solid #ccc;
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
      background: #fff;
      position: relative;
      font-size: 1.6rem; }
    .itinerary .responsive-tabs__heading:after {
      content: "";
      display: block;
      position: absolute;
      right: 20px;
      top: 40%;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #000; }
    .itinerary .responsive-tabs__heading:hover,
    .itinerary .responsive-tabs__heading--active:hover {
      background-color: #fff; }
    .itinerary .responsive-tabs__heading--active {
      background: #fff;
      border-bottom-color: #fff;
      border-top: 3px solid #399b1c; }
    .itinerary .responsive-tabs__heading--active:after {
      border-bottom: 10px solid #000;
      border-top: 0; } }

.photo img {
  width: 100%; }

.trek-package {
  margin: 2rem 0; }
  .trek-package .panel-default {
    border-radius: 0;
    border-color: #bbb; }
    .trek-package .panel-default .panel-heading {
      border-top: 3px solid #399b1c;
      background-color: #Fff;
      border-radius: 0; }
      .trek-package .panel-default .panel-heading .panel-title {
        font-size: 2rem; }
    .trek-package .panel-default .panel-body ul li a {
      color: initial; }

.breadcrumb {
  background-color: #ddd;
  border-radius: 0; }
  .breadcrumb li {
    margin-right: 5px;
    padding-right: 5px; }
    .breadcrumb li a {
      color: #666; }
  .breadcrumb .active {
    color: #399b1c; }

.activities-links li {
  margin: 0.5rem 0; }
  .activities-links li a {
    color: #fff;
    transition: 0.5s; }
    .activities-links li a:hover {
      margin-left: 5px;
      transition: 0.5s; }

.sightseeing h2 {
  margin-bottom: 2rem; }
.sightseeing .box {
  margin-bottom: 2rem; }
  .sightseeing .box figure {
    overflow: hidden;
    position: relative;
    max-height: 250px;
    min-height: 250px; }
    .sightseeing .box figure img {
      object-fit: cover;
      height: 100%;
      moz-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .sightseeing .box figure img:hover {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1); }
    .sightseeing .box figure figcaption {
      font-size: 20px;
      color: #fff;
      width: 100%;
      position: absolute;
      bottom: 0px;
      text-align: center;
      padding: 1rem;
      background: #000;
      background: -webkit-linear-gradient(transparent, #000);
      background: -o-linear-gradient(transparent, #000);
      background: -moz-linear-gradient(transparent, #000);
      background: linear-gradient(transparent, #000); }
.sightseeing .thumbnail img {
  width: 100%;
  height: calc(20rem);
  object-fit: cover; }

.gallery a img {
  float: left;
  width: 100%;
  margin-bottom: 2rem;
  height: calc(15rem);
  object-fit: cover;
  border: 2px solid #fff;
  -webkit-transition: -webkit-transform .15s ease;
  -moz-transition: -moz-transform .15s ease;
  -o-transition: -o-transform .15s ease;
  -ms-transition: -ms-transform .15s ease;
  transition: transform .15s ease;
  position: relative; }
.gallery a:hover img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  z-index: 5; }
.gallery a.big img {
  width: 40%; }

@media (max-width: 420px) {
  .map-wrap iframe {
    height: calc(25rem) !important;
    margin-bottom: 2rem; } }

/*# sourceMappingURL=style.css.map */
