// breakpoints
$smart-phone:420px;
$mobile: 767px; // mobile 767px and less 
$tablet: 1025px; // tablet 1025px {desctop - 1} and less 
$retina: 1.5;  // standart retina > 1.5x
$retina-hd: 2.5; // hd retina > 2.5x

// breakpoints mixin
@mixin breakpoint($rule){
  @if ($rule == $retina or $rule == $retina-hd){
    @media only screen and ( min-resolution : #{$retina*96} ), ( -webkit-min-device-pixel-ratio : #{$retina} ){
     @content;
    }
  }
  @else{
    @media only screen and (max-width: #{$rule}){
     @content;
    }  
  }
}


// clearfix
%clearfix {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

// reset for list
%listreset {
  margin: 0;
  padding: 0;
  list-style: none;
}

// hide text
@mixin hide-text {
  overflow: hidden;
  text-indent: -9999px;
}

// placeholder
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  ::-moz-placeholder {opacity: 1; @content}
  :-moz-placeholder {@content}
  :-ms-input-placeholder {@content}
  .placeholder {@content}
}

// full width
%fullwidth {
  padding-left: 9999px;
  padding-right: 9999px;
  margin-left: -9999px;
  margin-right: -9999px;
}

@mixin transition($cat ,$time ,$trans-type){
    -webkit-transition: ($cat ,$time ,$trans-type);
    -moz-transition: ($cat ,$time ,$trans-type);
    -ms-transition: ($cat ,$time ,$trans-type);
    -o-transition: ($cat ,$time ,$trans-type);
    transition: ($cat ,$time ,$trans-type);
}

@mixin rotate ($deg) {
  -moz-transform    : rotate($deg);
  -ms-transform    : rotate($deg);
  -o-transform      : rotate($deg);
  -webkit-transform : rotate($deg);
  transform    : rotate($deg);
}
@mixin skew ($x,$y) {
  -moz-transform    : skew($x,$y);
  -ms-transform    : skew($x,$y);
  -o-transform      : skew($x,$y);
  -webkit-transform : skew($x,$y);
  transform    : skew($x,$y);
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
// retina images
@mixin img-retina($image, $extension, $width, $height) {
  background: url('../images/' + $image + '.' + $extension) no-repeat;
  width: $width;
  height: $height;

  @media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {    
    background-image: url('../images/' + $image + '@2x' + '.' + $extension);
    background-size: $width $height;
  }
}
@mixin opacity($opacity){
  -moz-transition: $opacity;
  -ms-transition: $opacity;
  -o-transition: $opacity;
  -webkit-transition: $opacity;
  transition: $opacity;
}
