	.footer-top{
		background:#3d5c45;
		font-size: 1.4rem;
		padding:5rem 0;
		color:#fff;
		h4{
			font-size: 3rem;
			margin-bottom: 2rem;
		}
		ul{
			li{
				margin: 0 0 0.8rem;
			}
		}
		.links{
			-webkit-column-count: 2;
			-moz-column-count: 2;
			-ms-column-count: 2;
			-o-column-count: 2;
			column-count: 2;
			@media (max-width: $smart-phone){
				margin-bottom: 2.5rem;
			}
			li{
				a{
					color:#fff;
					transition: 0.5s;
					&:hover{
						margin-left:5px;
						transition: 0.5s;
					}
				}
			}
		}
		.address{
			font-size: 1.3rem;
			span{
				display: block;
				vertical-align: top;
				margin: 1rem 0;
				padding-left: 2.5rem;
				position: relative;
				i{
					position:absolute;
					left:0;
					margin-top:3px;
				}
			}
			strong{
				font-size: 1.5rem;
				letter-spacing: 0.5px;
			}
			a{
				color:#fff;
			}
		}
		.sign-up{
			input{
				width: 100%;
				padding: 1rem 2rem;
				background: transparent;
				border: 1px solid #fff;
				@media (max-width: $mobile){
					margin-bottom: 1rem;
				}
			}
			a{
				border:1px solid $primary-color;
				width:100%;
				padding:1rem 2rem;
				border-radius:0;
				color:$primary-color;
			}
		}
		.partners{
			margin-bottom:1.5rem;

			li{
				display: inline;
				margin-right:5px;
				img{
					height:35px;
					border-radius:3px;
				}
			}
		}
		.col-md-5,.col-md-7{
			@media (max-width: $tablet) and (min-width: 900px ){
				width: 100%;
			}
		}
	}
	.footer-wrap{
		background: darken(#3d5c45, 10%);
		color:#fff;
		.footer-btm{
			padding: 1.5rem;
			font-size: 1.4rem;
			.copyright{
				p{
					margin:0;
					text-align: center;
				}
			}
		}
	}
	.we-accept{
		margin-bottom:1rem;
	}
	.we-accept-list{
		@media (max-width: $smart-phone){
			margin-bottom: 2.5rem;
		}
		@media (max-width: $tablet){
			margin-bottom: 2.5rem;
		}
		li{
			display: inline;
			margin-right:5px;
			img{
				height:30px;
				border-radius:3px;
			}
		}
	}