// about-us
.about-us{
	padding:5rem;
	text-align:center;
	@media (max-width: $smart-phone){
		padding:3rem 1rem;
	}
	h2{
		margin-bottom:2rem;
	}
}
// service
.service{
	background:#f1f1f1;
	padding:5rem;
	@media (max-width: $smart-phone){
		padding:3rem 1rem;
	}
	h2{
		margin-bottom:2rem;
	}
	.box{
		// border:1px solid #ccc;
		// box-shadow:0 0 5px #ccc;
		margin-bottom:2rem;
		figure{
			overflow:hidden;
			position:relative;
			max-height: 250px;
			min-height: 250px;
			@media (max-width: $tablet){
				max-height: 200px;
				min-height: 200px;
			}
			@media (max-width: $smart-phone){
				max-height: calc(25rem);
				min-height: calc(25rem);
				width: 100%;
			}
			img{
				object-fit: cover;
				max-height: calc(25rem);
				min-height: calc(25rem);
				width: 100%;
				@media (max-width: $smart-phone){
					max-height: calc(25rem);
					min-height: calc(25rem);
					width: 100%;
				}
				moz-transition: all 0.3s ease-in-out;
				-webkit-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
				&:hover{
					-moz-transform: scale(1.1);
					-webkit-transform: scale(1.1);
					transform: scale(1.1);
				}
			}
			figcaption{
				font-size:20px;
				color:#fff;
				width:100%;
				position: absolute;
				bottom: 0px;
				text-align: center;
				padding: 1rem;
				background: #000; 
				background: -webkit-linear-gradient(transparent, #000); 
				background: -o-linear-gradient(transparent, #000); 
				background: -moz-linear-gradient(transparent, #000); 
				background: linear-gradient(transparent, #000); 
			}
		}
	}
}
// testimonial
.testimonial{
	background:url('../image/testimonials/testimonial.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	.bg{
		background:rgba(0, 0, 0, 0.7);
		padding: 5rem;
		color:#fff;
		@media (max-width: $smart-phone){
			padding:3rem 1rem;
		}
		h2{
			margin-bottom:2rem;
		}
		.testimonial-list{
			figure{
				height:200px;
				width:200px;
				margin:auto;
				@media (max-width: $smart-phone){
					height:100px;
					width:100px;
				}
				img{
					border-radius:50%;
					height:100%;
					width:100%;

				}
			}
			p{
				text-align: center;
			}
			span{
				color:$primary-color;
				text-align: center;
				display: block;
				font-weight: 600;

			}
		}
	}
}
// blogs
.blog{
	padding:5rem;
	@media (max-width: $smart-phone){
		padding:3rem 1rem;
	}
	h2{
		margin-bottom:2rem;
	}
	.blog-list{
		.box{
			box-shadow:0 0 10px #555;
			overflow:auto;
			figure{
				height:280px;
				img{
					height: 100%;
					object-fit: cover;
				}
			}
			span{
				color:$primary-color;
				font-size:1.2rem;
				margin-bottom: 0.8rem;
				display: block;
			}
			h3{
				margin-top:1rem;
			}
		}
	}
}
// inner page
.inner{
	padding-top:110px;
	min-height:calc(100vh - 160px);
	margin-bottom:5rem;
	h2{
		margin-bottom:1rem;
	}
	.details-wrap,.contact-form-wrap{
		border:1px solid #ccc;
		padding:2rem;
		margin-bottom:2rem;
		.address{
			font-size: 1.3rem;
			margin-bottom: 0;
			span{
				display: block;
				vertical-align: top;
				margin: 1rem 0;
				padding-left: 2.5rem;
				position: relative;
				i{
					position:absolute;
					left:0;
					margin-top:3px;
				}
			}
			strong{
				font-size: 1.5rem;
				letter-spacing: 0.5px;
			}
			a{
				color:initial;
			}
		}

	}
}
// trek
.trek-list{
	margin:2rem 0;
	.thumbnail{
		.caption{
			h4{
				margin:0.5rem 0;
			}
		}
	}
}
.trek-description{
	position:relative;
	.photo{
		float:left;
		margin-right:2rem;
		img{
			max-width: calc(40rem);
			min-width: calc(40rem);
			@media (max-width: $smart-phone){
				max-width: 100%;
				min-width: 100%;
				margin-bottom: 1rem;
			}
		}
	}
	h2{
		margin-bottom: 1rem;
	}
}
.itinerary{
	margin:2rem 0;
	h2{
		margin-bottom: 1rem;
	}

	/* REQUIRED for core functionality */

	.responsive-tabs__heading { 
		display: none;
	}
	.responsive-tabs__list__item { display: inline; cursor:pointer;}


	// @media (max-width: 767px) {
	// 	.responsive-tabs__list { display: none;}
	// 	.responsive-tabs__heading { 
	// 		display: block; cursor: pointer; background-color:#fff;
	// 	}
	// 	.responsive-tabs__panel--closed-accordion-only { display: none;}
	// }

	// @media (min-width: 768px) {
	// 	.responsive-tabs__panel--closed-accordion-only { display: block !important;}
	// }

	/* END - Required for core functionality */


	/* OPTIONAL - Basic Skin */

	.responsive-tabs-wrapper { 
		clear: both;
		zoom: 1; 
	}
	.responsive-tabs-wrapper:before,
	.responsive-tabs-wrapper:after {
		content: "";
		display: table;
	} 
	.responsive-tabs-wrapper:after {
		clear: both;
	}

	.responsive-tabs__heading:focus,
	.responsive-tabs__list__item:focus { outline: 1px solid #ccc;  }

	.responsive-tabs__heading--active:focus,
	.responsive-tabs__list__item--active:focus { outline: none !important;}

	.responsive-tabs__list { font-size: 1.2em; margin: 2em 0 0 0; padding: 0;border-bottom: 1px solid #bbb; padding-bottom:11px; line-height: 1em;}
	.responsive-tabs__list__item { 
		background: #eee; 
		padding: 9px 20px;  
		margin-right: 1em; 
		border-top-left-radius: 0px; 
		border-top-right-radius: 0px;
		border: 1px solid #bbb;
		border-top:3px solid #bbb;
	}

	.responsive-tabs__list__item:hover {background: #efefef }
	.responsive-tabs__list__item--active, 
	.responsive-tabs__list__item--active:hover {  background: #fff; border-bottom-color: #fff;border-top:3px solid $primary-color;}

	.responsive-tabs__panel { margin-bottom: 50px;
		border: 1px solid #bbb;
		border-top: none;
		padding: 2rem;
	}

	@media (max-width: 767px) {
		.responsive-tabs__heading { 
			margin-top:3rem;
			padding: 0.5em; 
			border-radius: 0px; 
			border: 1px solid #ccc;
			box-shadow: 0px 2px 3px rgba(0,0,0,0.4);
			background: #fff;
			position: relative;
			font-size: 1.6rem;
		}

		.responsive-tabs__heading:after {
			content:"";
			display: block;
			position: absolute;
			right: 20px;
			top: 40%;
			width: 0; 
			height: 0; 
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid #000;
		}
		.responsive-tabs__heading:hover,
		.responsive-tabs__heading--active:hover { background-color: #fff}
		.responsive-tabs__heading--active {
			background: #fff;
			border-bottom-color: #fff;
			border-top: 3px solid #399b1c;}
			.responsive-tabs__heading--active:after {
				border-bottom: 10px solid #000;
				border-top:0;
			}
		}

		/* END - Optional - Basic Skin */
	}
	.photo{
		img{
			width:100%;
		}
	}
	.trek-package{
		margin:2rem 0;
		.panel-default{
			border-radius:0;
			border-color:#bbb;
			.panel-heading{
				border-top:3px solid $primary-color;
				background-color: #Fff;
				border-radius:0;
				.panel-title{
					font-size: 2rem;
				}
			}
			.panel-body{
				ul{
					li{
						a{
							color:initial;
						}
					}
				}
			}
		}

	}
	.breadcrumb {
		background-color: #ddd;
		border-radius: 0;
		li{
			a{
				color:#666;
			}
		// border-right:1px solid;
		margin-right:5px;
		padding-right:5px;
	}
	.active{
		color:$primary-color;
	}
}
.activities-links{
	li{
		margin: 0.5rem 0;
		a{
			color:#fff;
			transition: 0.5s;
			&:hover{
				margin-left:5px;
				transition: 0.5s;
			}
		}
	}
}
// sightseeing
.sightseeing{
	h2{
		margin-bottom:2rem;
	}
	.box{
		// border:1px solid #ccc;
		// box-shadow:0 0 5px #ccc;
		margin-bottom:2rem;
		figure{
			overflow:hidden;
			position:relative;
			max-height: 250px;
			min-height: 250px;
			img{
				object-fit: cover;
				height: 100%;
				moz-transition: all 0.3s ease-in-out;
				-webkit-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
				&:hover{
					-moz-transform: scale(1.1);
					-webkit-transform: scale(1.1);
					transform: scale(1.1);
				}
			}
			figcaption{
				font-size:20px;
				color:#fff;
				width:100%;
				position: absolute;
				bottom: 0px;
				text-align: center;
				padding: 1rem;
				background: #000; 
				background: -webkit-linear-gradient(transparent, #000); 
				background: -o-linear-gradient(transparent, #000); 
				background: -moz-linear-gradient(transparent, #000); 
				background: linear-gradient(transparent, #000); 
			}
		}
	}
	.thumbnail{
		img{
			width:100%;
			height: calc(20rem);
			object-fit: cover;
		}
	}
}
// gallery


.gallery {
	a {
		img {
			float: left;
			width: 100%;
			margin-bottom:2rem;
			height: calc(15rem);
			object-fit: cover;
			border: 2px solid #fff;
			-webkit-transition: -webkit-transform .15s ease;
			-moz-transition: -moz-transform .15s ease;
			-o-transition: -o-transform .15s ease;
			-ms-transition: -ms-transform .15s ease;
			transition: transform .15s ease;
			position:relative;
		}

		&:hover {
			img {
				-webkit-transform: scale(1.05);
				-moz-transform: scale(1.05);
				-o-transform: scale(1.05);
				-ms-transform: scale(1.05);
				transform: scale(1.05);
				z-index: 5;
			}
		}

		&.big {
			img {
				width: 40%;
			}
		}
	}
}
.map-wrap{
	iframe{
		@media (max-width: $smart-phone){
			height:calc(25rem)!important;
			margin-bottom: 2rem;
		}
	}
}