body{
	min-width: 320px;
	font-family: "Lato", sans-serif;
	background-color:#fff;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6{
	margin: 0px;
	font-family: "Arima Madurai", cursive;
}
a{
	&:hover{
		text-decoration:none;
	}
}
.padding-reset{
	padding:0;
}
.padding-right{
	padding-right:0;
	@media (max-width: $mobile){
		padding-right:15px;
	}
}

.container{
	width: 85vw;
}